<!-- <h1 class="mi-titulo1">Hola mundo, clase-02</h1>
<h1 class="mi-titulo-global">Nuevo H1</h1>

<p>{{4 + 7 + 15}}</p>

<app-example1></app-example1>

<app-example2></app-example2>

<app-example3></app-example3> -->



<div class="grid-wrapper">
    <div class="toolbar-container">
        <div class="text-tool"><app-toolbar></app-toolbar></div>
    </div>
    <div class="sidenav-container"> 
        <div class="text-side"><app-sidenav></app-sidenav></div>
    </div>
    <div class="page-wrapper">
        <div class="text-page"><app-students-page></app-students-page></div>
    </div>
</div>

<!-- <div class="title-con">
    <div class="text-rot"><h1>App-root</h1></div>
</div> -->