/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';




.text-side {
  color: black;
  font-size: 14px;
  margin: 20%;
  word-wrap: break-word;
  text-align: center;
  padding-top: 2px;
  
     
}

.text-page {
  color: black;
  font-size: 14px;
  margin: 10vh;
  text-indent: 5px;
  // padding-block: -20px;
  text-align: center;
}

// .title-con {
//   height: 100vh;
//   width: 218vh;
//   color: black;
//   // border: 1px solid  black;
//   background: rgb(141, 42, 42)  ;
//   position:absolute;
//   // margin-left: 2px ;
//   // top: 10px;
// }
 
// .text-rot {
// text-align: center;
// font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


// }

//     .mi-titulo-global{
// text-decoration:underline ;
//     }

//     .mi-parrafo {
//         background-color: aquamarine;
//     }   

//     body {
//       margin: 100px;  
//     }